<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title><%= current_page.data.title %></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="iapShame">
  <div class='navbar navbar-inverse'>
    <div class="container-fluid">
      <div class='navbar-header'>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class='navbar-brand' href="/">
          In-App Purchase Shame
        </a>
      </div>
      <div class='collapse navbar-collapse' id="navbar-collapse">
        <ul class='nav navbar-nav'>
          <li><a href="/about.html">About</a></li>
          <li><a href="/all_games.html">Games</a></li>
            <%#<a href="/shame.html">Shame</a>%>
            <%#<a href="/fame.html">Fame</a>%>
        </ul>
        <form class="navbar-form navbar-right"
              role="search"
              id="search-games"
              ng-controller="SearchController"
              ng-submit="searchSubmit()">
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   name="search"
                   placeholder="Search"
                   ng-model="search.term"
                   ng-change="searching()">
            </input>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class='container'>
    <%= yield %>
  </div>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/angular.js"></script>
<script src="js/vendor/dirPagination.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  var _gaq=[['_setAccount','UA-51499060-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
   s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
