body {
}

ul.game-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  padding: 0;
}

ul.game-grid li {
  list-style: none;
  width: 31%;
}

ul.game-grid li:nth-child(2) {
  margin-right: 0;
}

@media all and (max-width: 1170px) {
  ul.game-grid li {
    width: 23%;
  }
}

@media all and (max-width: 987px) {
  ul.game-grid li {
    width: 48%;
  }
}

@media all and (max-width: 768px) {
  ul.game-grid li {
    width: 100%;
  }
}
