<h1>In-App Purchase Shame</h1>
<h2>All Apps</h2>
<h3><%= @games.count %> games documented</h3>
<table>
  <thead>
    <tr>
      <%- Game.new.attributes.keys.each do |key| %>
        <td><%= key.to_s.titleize %></td>
      <%- end %>
    </tr>
  </thead>
  <%- @games.each do |game| %>
    <tr>
      <%- game.attributes.values.each do |value| %>
        <td><%= value %></td>
      <% end %>
    </tr>
  <%- end %>
</table>
