---
title: About - In-App Purchase Shame
---
<h1>Greetings</h1>
<p>This Web site is the product of some frustration I feel about the current state of affairs with games on the iOS App Store. It started, in my mind, with <a href="https://itunes.apple.com/us/app/clumsy-ninja/id561416817?mt=8">Clumsy Ninja</a>, a simple electronic pet game with some funny physics and inverse kinematics interactivity. And it was free! But to my dismay after about half an hour of play, it became impossible to progress without either waiting several minutes for a training tool to unlock, or paying the few gems I had been awarded by playing.</p>
<h2>How do I acquire more gems?</h2>
<p>Of course I could spend <strong>$29.99</strong> for a <em>Gem Mine</em> and easily unlock more training tools and fun things with which I may torment the ninja. However, this future was laid out clearly before me in the game's menus. Fresher-looking, more expensive trampolines, kick bags, and basketball hoops. Will these offer new gameplay possibilities? Of course they won't. They are a lame game-extension tactic carefully spaced out to feed on the experience-gain and level-up cycles intended to drive the player to purchase more gems. There is no way a reasonable player can actually enjoy the game at their own pace without paying tens of dollars to unlock content which, frankly, is not even novel.</p>
<h2>The pattern emerged</h2>
<p> I look at the featured games on the App Store. <a href="https://itunes.apple.com/us/app/clash-of-clans/id529479190?mt=8">Clash of Clans</a> offers a <em>Chest of Gems</em> for <strong>$99.99</strong>. Wow, a hundred dollars converted into gameplay-unlocking gems. This model is rampant among 'free' games on the App Store. Apple only recently introduced a tiny grey badge to the app listing indicating that a game <em>"Offers In-App Purchases"</em> </p>
<h2>Not good enough</h2>
<p> I am tired of this business model. It is predatory. It exploits ludomania and players with poor impulse control and an underdeveloped sense of value. It preys upon parents and children, who just want a few more hours of distracting entertainment, who see their allowance as the fuel for the next upgrade that will allow them to keep playing, to 'rush production' on some time-delayed action which will allow them to expand their dungeon. How many donuts does Homer Simpson need? A boatload; and Electronic Arts also needs you to buy: </p>
<ul>
  <li>10000 Fifa Points $99.99</li>
  <li>Carload of Life Points $19.99</li>
  <li>Stack of Gold $19.99</li>
  <li>10000 + 2000 Bonus Points $99.99</li>
  <li>10000 Fifa Points $99.99</li>
  <li>300 Super Tickets $7.99</li>
  <li>Coin Pack 6 $99.99</li>
  <li>Cheese Planet $29.99</li>
  <li>$99.99 Pack $99.99</li>
  <li>Mountain of Gems $99.99</li>
  <li>Doctor's Pack $24.99</li>
  <li>1,000,001 Coins $49.99</li>
</ul>
<p>You read correctly. The coveted <em>$99.99 Pack</em> is only <strong>$99.99</strong>! What do you get? Exactly what you paid for, you fool. Each of these purchases is from a different game. Can you guess which is which?</p>
<h2>(Quantity) of (valuable commodity)</h2>
<p>I am not against In-App Purchases. I just find it laughable and disappointing that the model popularized by Zynga and Farmville would grow to dominate the entire iOS AAA game space. We were laughing about the absurdity of buying virtual bucks in a game about farming in order to harvest wheat faster with an expensive, limited-use virtual combine harvester back in 2009. According to <a href="http://en.wikipedia.org/wiki/FarmVille#Critical_reception">Wikipedia</a>, Time Magazine named it one of the '50 Worst Inventions' in recent decades. Several distinguished personalities in game design lamented the exploitative, negative, and mindless nature.</p>
<p>Yet even then people were watching the numbers soar. Zynga <a href="http://money.cnn.com/2011/12/16/technology/zynga_ipo/">Went Public</a> and with the App store growing increasingly competitive since opening in 2008, with the ease-of-entry and <a href="https://gigaom.com/2012/09/21/app-stores-are-suffering-from-the-tyranny-of-the-charts/">top-list dominated marketplace</a> driven by downloads, the rich get richer, the lucky cash in on a <a href="http://www.giantbomb.com/flappy-bird/3030-45294/">viral trend</a>, and the losers have to find some way to make money.</p>
<h2>(Quantity) (Game-relevant currency)</h2>
<p>In 2012, Wired reported on the phenomenon of coins as the only viable means for App Store games to make money. <a href="http://www.wired.com/2012/09/life-after-disc-digital-coins/">Doodle Jump</a> added coins, and experienced a subsequent boost in popularity and revenue. Everybody pay attention now, we have the formula that turns lead into gold. Now, go forth, and profit!</p>
<p>And that is the limit of their imagination and ingenuity. They are copying a game from 2008 because hey, the formula works, why change it? And six years later the market is still not sick of it. We didn't become sick of Casinos either, but at least we don't hold them up as the <em>Editor's Choice</em> for improving life satisfaction. We have come up with many ways to safely experience risk and relief, to challenge our adaptability and train new skills. We have Art and Comedy and Sport. We have Game.</p>
<h2>In-App Purchase Shame</h2>
<p>Which brings me to this thing I built. I scrape the Apple RSS feeds for new games and scrape their public preview pages for the In-App Purchases. Then I use a scoring formula to rank them based on how recent they were released and how much the highest in-app purchase costs. It is a fun side-project to work on, a static site periodically rebuilt by background processes. An experiment, and a statement. I want to raise awareness about this landscape, this <em>Idiocracy</em> mis-designated as "Games" and press the publishers and developers to try harder.</p>
<h2>In-App Purchase Pride</h2>
<p>In-App Purchases are not evil. How about <strong>$0.99</strong> to remove advertisements? Sounds good. What about <strong>$3.99</strong> to add a new character class to the RPG I just completed, or a side story for another character? Additional level packs, collectibles, easier difficulty modes, cheat or game-modifying modes, episodic content. All of these are currently available in the Store and are typically present on games by small development studios or individuals. These games are often remarkably innovative, have deep devotion to the craft and resepct for the player, and represent the best effort of the designer to inspire emotion and pleasure in the player.</p>
<p>I hope that in the coming years we see App Stores cracking down on ludomanic systems. I hope that consumers will become tired of shelling out another Dollar To Play. I especially hope that the forces driving this evolutionary branch in game profiteering are broken, subverted or otherwise made irrelevant.</p>
<p>Until then, I keep my candle burning in this small corner of the Internet.</p>
<span class='signature'>Carl Thuringer</span>
