---
title: All Games - In-App Purchase Shame
---
<%- require 'config/boot' %>
<ul class='game-grid'>
<%- GameRepository.read_all_ordered.compact.map{|game| GamePresenter.new(game)}.each do |game|  %>
  <li>
    <%= partial :game, locals: { game: game } %>
  </li>
<%- end %>

