---
title: In-App-Purchase Shame
---

<!-- Add your site or application content here -->
<%- require 'config/boot' %>
<%- @games = GameRepository.read_all %>
<h1>In App Purchase Shame</h1>
<table>
  <thead>
    <tr>
      <td></td>
      <td>Title</td>
      <td>Top Purchase</td>
    </tr>
  </thead>
  <tbody>
  <%-
    @games
      .reject{|g| g.top_iap_price.nil? }
      .map{|g| GamePresenter.new(g)}
      .each do |game|
    %>
    <tr>
      <td><img src="<%= game.image_uri %>"></img></td>
      <td><h2><%= game.title %></h2></td>
      <td><%= game.top_iap_title %> <%= game.top_iap_price %></td>
    </tr>
  <%- end %>
  </tbody>
</table>


